

<ion-content style=" --padding-start: 16px; --padding-end: 16px;">
  <div style=" margin: auto; margin-top: 20%;">
    <h6 align="center" style="color:#fff;">Bienvenu, connectez vous pour continuer...</h6>
    <div>
        <form class="form" [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
          <ion-img src="assets/logo.png" style="    width: 150px; height: 150px; margin: auto;"></ion-img>
          <ion-item>
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label position="floating" color="primary">Mot de passe</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div><br>
          <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid" style="background: var(--ion-color-primary);">Se connecter</ion-button><br>
          <label class="error-message"><small>{{errorMessage}}</small></label><br><br>
          <div style="text-align: center;">
            <a (click)="open()">S'inscrire</a>
          </div>


        </form>
    </div>
  </div>

</ion-content>
