input#message {
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: none;
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: 1em;
  padding: 0.8em 0.4em;
  border-radius: 19px;
}
.my-msg p {
  background: #ff5062;
  float: right;
  width: auto;
  padding: 16px !important;
  margin-right: 16px !important;
  border-radius: 23px;
}
.his-msg p {
  background: #f2f3ff !important;
  color: #414141;
  float: left;
  width: auto;
  padding: 16px !important;
  margin-left: 16px !important;
  border-radius: 23px;
}
.chat-container {
  display:block;
  width:100%;
}
/*
.chat-container:nth-child(4) {
  opacity: .8;
}
.chat-container:nth-child(3) {
  opacity: .6;
}
.chat-container:nth-child(2) {
  opacity: .4;
}*/

.chat-container a {
  text-transform: uppercase;
  font-weight:bold;
  color:#816A98;
  font-size:.8em;
  letter-spacing:2px;
}

.chat-container p {
  background:#323035;
  padding:1.1em;
  color:white;
  margin: 5px 0 10px 0;
}
