
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="" slot="start"></ion-back-button>
        </ion-buttons>
        <ion-title>{{him == null ? "Discussion" : him}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content #content>


  <div style="margin-bottom: 70px;">
    <div class="chat-container" *ngFor="let m of messages">
      <div class="my-msg" *ngIf="m.from_id == me.id">
        <p style="background: #ff5062">
          <!--small>Moi</small><br-->
          <span *ngIf="m.type=='text'">{{m.message}}</span>
          <ion-img *ngIf="m.type=='image'" src="{{m.message}}"></ion-img>
          <br>
          <small>{{m.date}}</small>
        </p>
          <div style="clear:both;"></div>
      </div>
      <div class="his-msg" *ngIf="m.from_id != me.id">
        <p>
          <!--small>{{m.from_name}}</small><br-->
          <span *ngIf="m.type=='text'">{{m.message}}</span>
          <ion-img *ngIf="m.type=='image'" src="{{m.message}}"></ion-img><br>
          <small>{{m.date}}</small>
        </p>
          <div style="clear:both;"></div>
      </div>

    </div>
    <div *ngIf="loading != ''" style="text-align: center; padding: 10px;">
      {{loading}}
    </div>
  </div>


  <div style="position: fixed; bottom: 0; background: #fff; width:100%;padding: 16px;
    padding-bottom: 0px;
    background: rgb(233,234,237);">
    <input type="text" id="message" *ngIf="him!=null" style="width:74%;padding-left: 13px;" placeholder="Ecrire ici..."
           (keyup.enter)="chatSend($event.target.value, 'text')" [(ngModel)]="msgVal"/>
      <ion-icon name="image" style="font-size:1.3em; margin: 0px 10px;vertical-align: middle; color: #D6081D;" (click)="selectImage()"></ion-icon>
      <ion-icon name="paper-plane" style="font-size:1.3em; margin: 0px 10px;vertical-align: middle; color: #D6081D;" (click)="chatSend(null, 'text')"></ion-icon>
  </div>


</ion-content>
