<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button text="" slot="end" (click)="open()"><ion-icon name="globe-outline"></ion-icon></ion-button>
      <ion-button text="" slot="end" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3 style="padding: 0px 16px;">Mes contacts :</h3>
  <p *ngIf="chats.length == 0" style="padding:16px;">Aucun contact</p>
  <ion-list>
    <ion-item  [routerLink]="['/chatting']" [queryParams]="{ id: u.id_ami, pseudo: u.ami.pseudo}"  *ngFor="let u of chats">
      <ion-avatar style="margin-right: 10px;">
        <ion-img src="http://spowatcher.com/aristoka/feed/profile/{{u.ami.avatar}}"></ion-img>
      </ion-avatar>
      <span><span style="color:#ff5062;">@{{u.ami.pseudo}}</span><br><small>{{u.ami.profession}}</small></span>
    </ion-item>
  </ion-list>

</ion-content>
